
<link rel="stylesheet" href="/css/posts.css">

<div class="post-cont">
        <li id="post-<%= post.id %>">
      
             <div class="name-para"> 
                <p>
                        <% if(locals.user && locals.user.id == post.user.id) { %>
                        <small>
                                <a class="delete-post-button" href="/posts/destroy/<%= post.id%>"><i class="fa-solid fa-trash"></i></a>
                        </small>
                        <% } %>
                        <%= post.content %>
                <br>
                <small>
                        <%= post.user.name %>
                </small>

                </p>
               </div> 
                <div class="post-comments">
                        <% if(locals.user) {%>
                                <form action="/comments/create" id="new-comment-form" method="post">
                                        <div class="comment-container">
        
                                   <input id="comment1"type="text" name="content" placeholder="Type Here to add comments..">
                                   <input type="hidden" name="post" value="<%= post._id%>">
                                   <input id="comment-btn"type="submit" value="Add comment">
                                   </div>
        
                                </form>   
                        <%}%>
        
                        <div class="post-comments-list">
                                <ul id="post-comments-<%= post._id %>">
                                        <%for (comment of post.comments) {%>
                                          
                                            <%- include('_comment') -%>
                                               
                                        <%}%>
                                </ul>
                        </div>
                </div>
                
        </li>
</div>



